* {
    box-sizing: border-box;
  }
  
html, body {
    background-color: #fff;
    margin: 0;
    padding: 0;
    font-family: 'Roboto Mono', monospace;
  }

#inputItems {
    display: flex;
    margin-top: 5%;
    margin-left: 2%;
    margin-right: 2%;
}

#inputTodo{
    width: 50%;
    padding: 10px;
    float: left;
    font-size: 1.0em;
}

.addBtn{
    padding: 10px;
    background: #d9d9d9;
    cursor: pointer;
    transition: 0.3s;
    margin-left: 2%;
}

.addBtn:hover {
    background: #9b9b9b;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
  
.center {
    align-self: center;
}
  
.spaceDiv {
    display: flex;
    justify-content: space-around;
}
  
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    height: 100vh;
}
  
.head, .counts{
    flex: none;
}
  
.todo-list {
    flex: 1 1 0;
    margin-top: 20px;
    padding: 20px;
    overflow-y: auto;
}

.todo-text{
    font-size: 1.0em;
}

.todo-text-checked{
    font-size: 1.0em;
    text-decoration: line-through;
}

.todo-checkbox {
    margin: 10px;
}
  
.todo-container {
    padding: 20px;
    border-bottom: 1px solid #333;
}
  
.todo-container:first-of-type {
    border-top: 1px solid #333;
}
  